<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncore Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/Company_Logo.png') }}" alt="Syncore Logo" class="logo-img">
                <h1>SYNCORE</h1>
                <p>Care at the core.</p>
            </div>
        </div>
        <div class="right">
            <h2>Choose your destination.</h2>
            <div class="buttons">
                <a href="{{ url_for('login', system='pms') }}" class="btn">Patient Management</a>
                <a href="{{ url_for('login', system='lms') }}" class="btn">Logistics Management</a>
                <a href="{{ url_for('login', system='fms') }}" class="btn">Finance Management</a>
                <a href="{{ url_for('login', system='admin-dashboard') }}" class="btn">System Admin Control</a>
            </div>
        </div>
    </div>
    <footer>
        <p>SYNCORE v1<br>&copy; 2024</p>
    </footer>
</body>
</html>

            <!-- <div class="buttons">
                <a href="https://hms-ui-gv0l.onrender.com/admin_med/layout/emergency_records.html" class="btn">Patient Management</a>
                <a href="https://hospital-logistics.onrender.com" class="btn">Logistics Management</a>
                <a href="https://finance-1qfw.onrender.com" class="btn">Finance Management</a>
                <a href="{{ url_for('login') }}" class="btn">System Admin Control</a>
            </div> -->
